{% extends 'base.html' %}
{% block self_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename="css/login.css") }}">
{% endblock self_style %}
    
</head>
{% block header %}
    <div class="row" style="width: 100%">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <header>
                <img src="{{ url_for('static', filename='image/redflags.png') }}" style="margin: 20px;height: 60px">
            </header>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock header %}

{% block main_body %}
<div class="row">
    <div class="col-md-6 offset-md-6 col-sm-12">
        <div class="login_cart">
            <form id="registerForm">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name='email' type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">Username</label>
                    <input name='username' type="username" class="form-control" id="exampleInputEmail2" aria-describedby="usernameHelp" placeholder="Enter username">
                    <small id="usernamelHelp" class="form-text text-muted">Username cannot be changed once set.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name='password' type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <small id="passwordHelp" class="form-text text-muted">Please set a strong password, which can be uppercase, lowercase, and punctuation.</small>
                </div>
                <button id='btn' type="button" class="btn btn-warning">Register</button>
                <small id="registerHelp" class="form-text text-muted">Have account? Go to <a href='/login/'>login</a>.</small>
            </form>
        </div>
    </div>
</div>
{% endblock main_body %}
{% block self_js %}
<script type="text/javascript">
    $(function () {
        $("#btn").click(function () {
            $.ajax({
                type:"post",
                dataType:"json", //预期服务器端返回的数据的类型
                url:"/register/",
                data:$("#registerForm").serialize(),
                success:function (data) {
                    console.info(data);
                }
            });
        });
    });
</script>
{% endblock self_js %}